@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}

.title {
  font-size: 3em;
}
.info {
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1.5em;
  color: rgb(224, 224, 224);
}
.btn {
  margin: 0 auto;
  border: none;
  outline: none;
  padding: 0.75em 1em;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: rgb(134, 49, 0);
  color: #fff;
}

.menu-item {
  padding: 0.75em 1em;
  display: block;
  transition: background-color 0.15s;
  border-radius: 5px;
}
.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-title {
  padding: 0.75em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-title span i {
  display: inline-block;
  width: 1.5em;
}
.menu-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}
.menu-item.open > .menu-title .toggle-btn {
  transform: rotate(180deg);
}
.menu-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.menu-item.open > .menu-content {
  height: auto;
}

.menu-item.plain {
  margin-left: auto;
  margin-right: auto;
  padding: 0.75em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  text-decoration: none;
}
.menu-item.plain:hover {
  text-decoration: underline;
}
.menu-item.plain i {
  display: inline-block;
  width: 1.7em;
}
